html,
body,
#root {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  color: white;
  border: none;
  padding: 5px 5px;
  font-size: 15px;
  border-radius: 3px;
  background-color: #76beba;
  cursor: pointer;
}

button.gray {
  background-color: #efefef;
  color: black;
}

button.gray:hover {
  background-color: #dadada;
}

button.red {
  background-color: #be7478;
}

button.red:hover {
  background-color: #a76568;
}

button:hover {
  background-color: #62aaa6;
}

input,
textarea {
  outline: 0px;
}

.container {
  text-align: center;
  max-width: 800px;
}

.listViewer {
  width: calc(100% - 20px);
  margin: 10px;
  background-color: #efefef;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
  overflow: hidden;
}

.listViewer .title {
  font-weight: bold;
  color: #be7478;
  text-align: left;
  font-size: 18px;
  padding: 3px 8px;
}

.listViewer .listElements {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 25px);
}

.listViewer .listElements * {
  padding: 5px;
}

.listViewer .listElements *:nth-child(odd) {
  background-color: white;
}

#header {
  background-color: #efefef;
  color: #76beba;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#header i {
  height: 100%;
  color: #76beba;
  border: none;
  padding: 10px 10px;
  font-size: 25px;
  cursor: pointer;
}

#header i:hover {
  color: black;
}

#header .buttonGroup {
  height: 100%;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

#header .title {
  display: inline-block;
  font-size: 25px;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#adminHome {
  height: calc(100% - 50px);
  background-color: #f4f4f4;
  font-family: "Roboto";
}

#adminHome #adminPrompt {
  margin-left: 10%;
  font-size: 25px;
  color: #be7478;
}

#adminHome .userInfo {
  font-weight: 500;
  color: #4e4e4e;
  margin-left: 10%;
  padding-top: 15px;
  line-height: 35px;
}

#adminHome .adminButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 85px;
  border: none;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.1);
  color: #4e4e4e;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto";
  text-align: left;
  margin-bottom: 25px;
  padding-left: 33px;
  padding-right: 33px;
}

#home {
  height: calc(100% - 50px);
  text-align: center;
}

#home #userEmail {
  font-size: 20px;
}

#home #account {
  color: #be7478;
}

#surveyHome {
  text-align: center;
  height: calc(100% - 50px);
  overflow-y: auto;
}

#surveyHome button {
  margin: 5px;
  font-size: 18px;
}

#surveyHome .optionPage {
  padding: 10%;
}

#surveyHome .surveyCreator {
  background-color: #dadada;
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

#surveyHome .surveyCreator input[type="text"] {
  font-size: 18px;
  border-radius: 3px;
  border: 2px solid #efefef;
}

#surveyHome .surveyCreator input[type="text"]:focus {
  border-bottom: 2px solid #76beba;
}

#surveyHome .surveyCreator .surveyHeader {
  border-radius: 5px;
  width: 100%;
  background-color: white;
}

#surveyHome .surveyCreator .surveyHeader .surveyTitle {
  font-size: 24px;
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
}

#surveyHome .surveyCreator .surveyHeader .surveyDescription {
  font-size: 18px;
  width: 100%;
  padding: 5px;
  border: none;
  resize: none;
}

#surveyHome .surveyCreator .createdQuestion {
  background-color: white;
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  text-align: left;
}

#surveyHome .surveyCreator .createdQuestion .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#surveyHome .surveyCreator .createdQuestion .header .prompt {
  width: calc(100% - 140px);
}

#surveyHome .surveyCreator .createdQuestion .header .questionType {
  width: 130px;
  height: 40px;
  margin-left: 5px;
  font-size: 18px;
}

#surveyHome .surveyCreator .createdQuestion .delete {
  width: 30px;
}

#surveyHome .surveyCreator .createdQuestion .s-options {
  text-align: center;
  padding-bottom: 10px;
}

#surveyHome .surveyCreator .createdQuestion .options {
  width: 100%;
  padding: 3px;
}

#surveyHome .surveyCreator .createdQuestion .options input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 5px;
}

#surveyHome .surveyCreator .createdQuestion .options .answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#surveyHome .surveyCreator input[type="radio"] {
  pointer-events: none;
}

#surveyHome .administerSurveyPage .survey {
  text-align: center;
  margin: 0px 25px;
  font-size: 18px;
}

#surveyHome .administerSurveyPage .surveyTitle {
  font-weight: bold;
  color: #be7478;
  text-align: left;
  font-size: 24px;
  padding: 3px 8px;
}

#surveyHome .administerSurveyPage .title {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  margin: 3px;
}

#surveyHome .administerSurveyPage .question {
  background-color: #efefef;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px;
}

#surveyHome .administerSurveyPage .question textarea {
  width: calc(100% - 10px);
  margin: 0px 5px;
  resize: none;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

#surveyHome .administerSurveyPage .question .options {
  padding: 5px;
  font-size: 18px;
}

#surveyHome .administerSurveyPage .question.sq {
  padding-bottom: 5px;
}

#surveyHome .administerSurveyPage .question.mcq {
  text-align: left;
}

#surveyHome input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #76beba;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
  margin-right: 5px;
  position: relative;
  top: 4px;
  border-radius: 2px;
  border-radius: 50%;
  cursor: pointer;
}

#surveyHome input[type="radio"]:hover {
  border: 3px solid #76beba;
  outline: unset !important;
  /* I added this one for Edge (chromium) support */
}

#surveyHome input[type="radio"]:checked {
  border: 10px solid #76beba;
  outline: unset !important;
  /* I added this one for Edge (chromium) support */
}

#jobManager {
  margin: 0px 25px;
}

#jobManager .jobTitle {
  font-weight: bold;
  color: #be7478;
  text-align: left;
  font-size: 24px;
  padding: 3px 8px;
  display: inline-block;
}

#jobManager .jobButton {
  margin-top: 8px;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  position: relative;
  left: 70%;
  display: inline;
}

#jobManager .searchBox .searchText {
  display: inline-block;
  position: relative;
  left: 39%;
}

#jobManager .searchBox .searchBar {
  display: inline;
  position: relative;
  left: 40%;
}

#jobManager .searchBox .searchBar input {
  width: 300px;
}

#promoteUser {
  text-align: center;
  padding: 10px;
}

#promoteUser .header {
  font-weight: bold;
  color: #be7478;
  font-size: 24px;
  position: relative;
  padding-top: 80px;
}

#promoteUser .textBlock {
  max-width: 500px;
  display: inline-block;
}

#promoteUser .inputContainer {
  padding-top: 50px;
}

#promoteUser .inputContainer .userEmail {
  padding-bottom: 5px;
}

#promoteUser .inputContainer input {
  width: 350px;
  height: 30px;
  background-color: #efefef;
  border: none;
}

#promoteUser .buttonContainer {
  margin-top: 40px;
}

#promoteUser .buttonContainer button {
  display: inline;
  margin-right: 10px;
}

#promoteUser .buttonContainer button.gray {
  margin-right: 50px;
}
/*# sourceMappingURL=App.css.map */