//CHANGE THIS FILE NOT App.css
//This is because saving and compiling this file will overwrite App.css

$pale-green: #76beba;
$rose-red: #be7478;
$gray1: #efefef;

$headerHeight: 50px;
$contentHeight: calc(100% - 50px);

html,
body {
    padding: 0;
    margin: 0;
}

// button {
//     color: white;
//     border: none;
//     padding: 5px 5px;
//     font-size: 15px;
//     border-radius: 3px;
//     cursor: pointer;

//     &.gray {
//         background-color: $gray1;
//         color: black;
//     }

//     &.green {
//         background-color: $pale-green;
//     }

//     &.red {
//         background-color: $rose-red;
//     }
// }

#header {
    background-color: $gray1;
    color: #76beba;
    height: $headerHeight;
    text-align: center;
    //float:right;
    font-size: 30px;

    // button {
    //     float: right;
    // }

    .button:hover {
        color: black;
    }
    .button {
        padding-right: 5px;
        margin: 10px;
        color: $pale-green;
        border: none;
        padding: 5px 5px;
        font-size: 15px;
        border-radius: 3px;
        cursor: pointer;
    }
    .headerButton {
        position: absolute;
        right: 50px;
    }
}

#home {
    height: $contentHeight;
}

.container {
    text-align: center;
}
#userEmail {
    font-size: 20px;
}
#account {
    color: $rose-red;
}