html,
body,
#root {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

.pointer {
  cursor: pointer;
}

button {
  color: white;
  border: none;
  padding: 5px 5px;
  font-size: 15px;
  border-radius: 3px;
  background-color: #7ba1ff;
  cursor: pointer;
}

button.gray {
  background-color: #efefef;
  color: black;
}

button.gray:hover {
  background-color: #dadada;
}

button.red {
  background-color: #d16161;
}

button.red:hover {
  background-color: #cc5050;
}

button:hover {
  background-color: #5f8dff;
}

input,
textarea {
  outline: 0px;
}

.edit,
.labelIcon,
.delete {
  color: #d16161;
  padding-left: 5px;
  border-radius: 3px;
  padding: 5px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
  font-size: 20px;
}

.edit:hover,
.labelIcon:hover,
.delete:hover {
  background-color: #d16161;
  color: white;
}

.labelIcon {
  color: #7ba1ff;
  position: relative;
}

.labelIcon .labelCount {
  position: absolute;
  top: 5px;
  left: 10px;
  color: black;
}

.labelIcon:hover {
  background-color: #7ba1ff;
}

.edit {
  color: #7ba1ff;
}

.edit:hover {
  background-color: #7ba1ff;
}

.container {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 7px;
}

.listViewer {
  width: calc(100%);
  height: 100%;
  background-color: #efefef;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
  position: relative;
}

.listViewer .title {
  font-weight: bold;
  background-color: white;
  color: #7ba1ff;
  text-align: left;
  font-size: 28px;
  padding: 3px 8px;
  border-bottom: 1px solid #7ba1ff;
}

.listViewer .title ~ .listElements {
  height: calc(100% - 38px);
}

.listViewer .addNew {
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 6px;
  color: #7ba1ff;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
}

.listViewer .addNew:hover {
  background-color: #7ba1ff;
  color: white;
}

.listViewer .listElements {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.listViewer .listElements > * {
  padding: 7px 5px;
}

.listViewer .listElements > *:nth-child(odd) {
  background-color: white;
}

.listViewer .listElements .listElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listViewer .listElements .listElement .name {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 4px;
}

.listViewer .listElements .listElement .name.viewable {
  cursor: pointer;
}

.listViewer .listElements .listElement .edit {
  margin-right: 5px;
}

.section {
  width: calc(100%);
  background-color: #efefef;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
  position: relative;
}

.section > .title {
  font-weight: bold;
  background-color: white;
  color: #7ba1ff;
  text-align: left;
  font-size: 28px;
  padding: 3px 8px;
  border-bottom: 1px solid #7ba1ff;
}

.section .content {
  height: calc(100% - 39px);
}

.section .content.closed {
  height: 0px;
}

.section .listViewer {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

.section .toggleButton {
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 0px 5px;
  border-radius: 3px;
  cursor: pointer;
}

.section .toggleButton:hover {
  background-color: #7ba1ff;
  color: white;
}

.error {
  font-size: 13px;
  color: #cc5050;
}

#authPage {
  text-align: center;
  font-size: 28px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#authPage .title {
  color: #d16161;
  font-weight: bold;
  padding-top: 10px;
}

#authPage .error {
  margin: 5px;
  padding: 3px;
  background: #d16161;
  color: white;
  border-radius: 3px;
}

#authPage input[type="text"],
#authPage input[type="password"] {
  padding: 7px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  width: 100%;
  margin-bottom: 10px;
}

#authPage .content {
  position: relative;
  max-width: 500px;
  height: 500px;
  margin: auto;
  top: calc(50% - 250px);
  background-color: #efefef;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
  padding: 20px;
}

#authPage button {
  margin-bottom: 20px;
  padding: 7px;
  width: 100%;
  font-size: 16px;
}

#authPage img {
  width: 30px;
}

#header {
  font-family: "Roboto";
  background-color: #7ba1ff;
  color: white;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#header .buttonGroup {
  height: 100%;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

#header .buttonGroup i {
  height: 100%;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#header .buttonGroup i:hover {
  background-color: #5f8dff;
  color: white;
}

#header .buttonGroup i:last-child:hover {
  background-color: #d16161;
}

#header .title {
  display: inline-block;
  font-size: 25px;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  #header .title {
    font-size: 20px;
  }
}

#adminHome {
  height: calc(100% - 50px);
  font-family: "Roboto";
  font-size: 20px;
  overflow-y: auto;
}

#adminHome .topGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

#adminHome .leftColumn {
  vertical-align: top;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  padding: 7px;
}

#adminHome .middleColumn {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  padding: 7px;
}

#adminHome .middleColumn .listViewer {
  min-height: 346.5px;
  max-height: calc(50% - 3.5px);
}

#adminHome .middleColumn .listViewer:first-child {
  margin-bottom: 7px;
}

#adminHome .rightColumn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#adminHome .rightColumn .adminButtons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 7px;
}

#adminHome .rightColumn .adminButtons button {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

#adminHome .rightColumn .userInfo {
  background-color: #efefef;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 3px;
  line-height: 20px;
  padding: 10px;
  margin: 7px;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
}

@media screen and (max-width: 600px) {
  #adminHome .topGrid {
    display: block;
  }
  #adminHome .leftColumn {
    margin: 0;
    height: 400px;
  }
  #adminHome .leftColumn .notifContainer {
    height: 350px;
  }
  #adminHome .jobAndSurveyColumn {
    margin: 0;
  }
}

#labelPage {
  text-align: center;
}

#labelPage .labelContainer {
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
}

#labelPage .goBack {
  margin: 10px;
}

#labelPage .addLabel {
  background-color: #efefef;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
}

#labelPage .addLabel .addLabelPrompt {
  text-align: left;
  color: #7ba1ff;
  font-weight: bold;
  font-size: 28px;
}

#labelPage .addLabel .labelInput {
  width: calc(100% - 80px);
  padding: 5px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #acacac;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #efefef;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#labelPage .addLabel .labelInput:focus, #labelPage .addLabel .labelInput:hover {
  border-radius: 0px;
  border-bottom: 2px solid #7ba1ff;
}

#labelPage .labelSubmit {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  margin-left: 20px;
}

#labelPage .listViewer {
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
}

#labelEditor {
  text-align: center;
  background-color: white;
  height: calc(100% - 50px);
  overflow-y: auto;
}

#labelEditor .listContainer {
  max-width: 800px;
  margin: auto;
  padding: 5px;
}

#labelEditor .labelNamePrompt {
  text-align: left;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
  margin-bottom: 10px;
  margin-top: 10px;
}

#labelEditor .labelNamePrompt .title {
  font-size: 20px;
}

#labelEditor .labelNamePrompt .labelNameInput {
  font-size: 20px;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 2px;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#labelEditor .labelNamePrompt .labelNameInput:focus {
  border-bottom: 2px solid #7ba1ff;
}

#labelEditor .listViewer {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
}

#labelEditor .listViewer .listElement .edit {
  display: none;
}

#labelEditor .association {
  background-color: white;
  text-align: left;
  font-size: 20px;
}

#labelEditor .association .surveyTitle {
  font-weight: bold;
}

#labelEditor .association .questionTitle {
  padding-left: 20px;
}

#labelEditor .association .answerTitle {
  padding-left: 40px;
}

#labelEditor .buttons button {
  margin: 5px;
}

#home {
  height: calc(100% - 50px);
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 5px;
}

#home h1 {
  margin: 0;
  padding: 20px;
  font-size: 28px;
}

#home .toggle {
  margin: 10px;
}

#home #userEmail {
  font-size: 20px;
}

#home .cards {
  height: calc(100% - 130px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
  position: relative;
  text-align: left;
  min-width: calc(33% - 20px);
  cursor: pointer;
}

#home .card .title {
  font-weight: bold;
}

#home .card .questions {
  font-weight: bold;
  color: #7ba1ff;
}

#home .card .responses {
  font-weight: bold;
  color: #d16161;
}

#surveyHome {
  text-align: center;
  height: calc(100% - 50px);
  overflow-y: auto;
  background-color: #efefef;
}

#surveyHome button {
  margin: 5px;
  font-size: 16px;
}

#surveyHome .optionPage {
  padding: 10%;
}

#surveyHome .surveyCreator {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

#surveyHome .surveyCreator input[type="text"] {
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #efefef;
}

#surveyHome .surveyCreator input[type="text"]:focus {
  border-bottom: 2px solid #7ba1ff;
}

#surveyHome .surveyCreator .surveyHeader {
  border-radius: 5px;
  width: 100%;
  background-color: white;
}

#surveyHome .surveyCreator .surveyHeader .surveyTitle {
  font-size: 28px;
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #efefef;
}

#surveyHome .surveyCreator .surveyHeader .surveyDescription {
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border: none;
  resize: none;
}

#surveyHome .surveyCreator .createdQuestion {
  background-color: white;
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  text-align: left;
}

#surveyHome .surveyCreator .createdQuestion .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#surveyHome .surveyCreator .createdQuestion .header .prompt {
  width: calc(100% - 140px);
}

#surveyHome .surveyCreator .createdQuestion .header .questionType {
  width: 130px;
  height: 40px;
  margin-left: 5px;
  font-size: 16px;
}

#surveyHome .surveyCreator .createdQuestion .s-answers {
  text-align: center;
  padding-bottom: 10px;
}

#surveyHome .surveyCreator .createdQuestion .answers {
  width: 100%;
  padding: 3px;
}

#surveyHome .surveyCreator .createdQuestion .answers input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 5px;
}

#surveyHome .surveyCreator .createdQuestion .answers .answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#surveyHome .surveyCreator input[type="radio"] {
  pointer-events: none;
}

#surveyHome .administerSurveyPage .surveyTitle {
  font-weight: bold;
  color: #7ba1ff;
  text-align: left;
  font-size: 28px;
  padding: 5px;
}

#surveyHome .administerSurveyPage .description {
  font-size: 20px;
  text-align: left;
  padding: 5px;
}

#surveyHome .administerSurveyPage .title {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  margin: 3px;
}

#surveyHome .administerSurveyPage .question {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
}

#surveyHome .administerSurveyPage .question input[type="text"],
#surveyHome .administerSurveyPage .question textarea {
  width: calc(100% - 10px);
  margin: 0px 5px;
  resize: none;
  border: 1px solid #efefef;
  border-radius: 5px;
  font-size: 14px;
}

#surveyHome .administerSurveyPage .question .answers {
  padding: 5px;
  font-size: 16px;
}

#surveyHome .administerSurveyPage .question.Scale {
  padding-bottom: 5px;
}

#surveyHome .administerSurveyPage .question.MultipleChoice {
  text-align: left;
}

#surveyHome .ResponseView .title {
  font-size: 28px;
  color: #7ba1ff;
  text-align: left;
}

#surveyHome .ResponseView .question {
  font-weight: bold;
  text-align: left;
}

#surveyHome .recommendation {
  width: calc(100% - 40px);
  height: 130px;
  margin: 20px;
  border-radius: 15px;
  padding: 15px 0 15px 15px;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#surveyHome .recommendation i {
  font-size: 30px;
}

#surveyHome .recommendation .jobRecContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  margin-right: 20px;
}

#surveyHome .recommendation .divider {
  height: 90px;
  margin-block: auto;
  border-left: 1px solid;
}

#surveyHome .recommendation .recContainer {
  width: 120px;
  text-align: center;
  font-size: 11px;
  margin-block: auto;
  float: right;
}

#surveyHome .recommendation .title {
  margin-left: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  color: #5f8dff !important;
}

#surveyHome .recommendation .compName {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;
}

#surveyHome .recommendation .jobDesc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 11px;
  font-weight: 400;
  color: #656565;
}

#surveyHome .recommendation.neutral {
  background-color: white;
}

#surveyHome .recommendation.positive {
  background-color: #eaf3ff;
}

#surveyHome .recommendation.negative {
  background-color: white;
}

@media screen and (max-width: 600px) {
  #surveyHome .recommendation {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #surveyHome .recommendation .jobRecContainer {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #surveyHome .recommendation .recContainer {
    margin-top: 10px;
    margin-inline: auto;
  }
  #surveyHome .recommendation .title {
    font-size: 16px;
  }
  #surveyHome .recommendation .compName {
    font-size: 13px;
  }
  #surveyHome .recommendation .jobDesc {
    font-size: 11px;
  }
}

@media screen and (max-width: 421px) {
  #surveyHome .recommendation {
    display: inline-block;
  }
  #surveyHome .recommendation .divider {
    display: none;
  }
  #surveyHome .recommendation .recContainer {
    float: none;
  }
}

#surveyHome input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #7ba1ff;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
  margin-right: 5px;
  position: relative;
  top: 4px;
  border-radius: 2px;
  border-radius: 50%;
  cursor: pointer;
}

#surveyHome input[type="radio"]:hover {
  border: 3px solid #7ba1ff;
  outline: unset !important;
  /* I added this one for Edge (chromium) support */
}

#surveyHome input[type="radio"]:checked {
  border: 10px solid #7ba1ff;
  outline: unset !important;
  /* I added this one for Edge (chromium) support */
}

#jobManager {
  margin: 0px 25px;
}

#jobManager .jobTitle {
  font-weight: bold;
  color: #d16161;
  text-align: left;
  font-size: 24px;
  padding: 3px 8px;
  display: inline-block;
}

#jobManager .jobButton {
  margin-top: 8px;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  position: relative;
  left: 70%;
  display: inline;
}

#jobManager .searchBox .searchText {
  display: inline-block;
  position: relative;
  left: 39%;
}

#jobManager .searchBox .searchBar {
  display: inline;
  position: relative;
  left: 40%;
}

#jobManager .searchBox .searchBar input {
  width: 300px;
}

#promoteUser {
  font-size: 20px;
}

#promoteUser .title {
  font-weight: bold;
  color: #d16161;
  font-size: 28px;
  position: relative;
  padding: 50px 0px 10px 0px;
}

#promoteUser .textBlock {
  max-width: 500px;
  display: inline-block;
}

#promoteUser .inputContainer {
  padding-top: 50px;
}

#promoteUser .inputContainer .userEmail {
  padding-bottom: 5px;
}

#promoteUser .inputContainer input {
  width: 350px;
  height: 30px;
  background-color: #efefef;
  border: none;
}

#promoteUser .dropDown {
  padding-top: 10px;
  padding-bottom: 10px;
}

#promoteUser .dropDown .dropText {
  padding-bottom: 10px;
}

#promoteUser .buttonContainer {
  margin-top: 40px;
}

#promoteUser .buttonContainer button {
  display: inline;
  margin-right: 10px;
}

#promoteUser .buttonContainer button.gray {
  margin-right: 50px;
}

#jobCreator {
  background-color: #efefef;
  height: calc(100% - 50px);
}

#jobCreator .jobHeader {
  font-weight: bold;
  color: #7ba1ff;
  font-size: 28px;
  position: relative;
  text-align: left;
  margin-right: 5%;
  padding-top: 20px;
}

#jobCreator .jobInputContainer {
  margin: auto;
  margin-top: 20px;
  text-align: left;
}

#jobCreator .jobInputContainer .title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

#jobCreator .jobInputContainer input[type="text"] {
  padding: 7px;
  font-size: 20px;
  border-radius: 3px;
  border: none;
  width: calc(100%);
  border-bottom: 2px solid transparent;
}

#jobCreator .jobInputContainer input[type="text"]:focus {
  border-bottom: 2px solid #7ba1ff;
}

#jobCreator .jobInputContainer textarea {
  padding: 10px;
  font-size: 16px;
  width: calc(100%);
  border: none;
  resize: none;
  border-radius: 3px;
}

#jobCreator .labelChoice {
  cursor: pointer;
}

#jobCreator .buttons {
  text-align: right;
  margin-top: 10px;
}

#jobCreator button {
  margin: 5px;
}

.jobExplore {
  height: calc(100% - 50px);
  overflow-y: auto;
  text-align: left;
}

.jobExplore .section {
  margin-bottom: 10px;
}

.jobExplore .section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.jobExplore .section .label {
  padding: 3px 5px;
  height: 24px;
}

.jobExplore .section:nth-child(1) .content.open {
  height: 200px;
}

.jobExplore .section:nth-child(2) .content.open {
  height: 600px;
}

.jobExplore .section .listViewer {
  overflow-y: auto;
}

.jobExplore .left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  height: 100%;
  border-right: 1px solid #dadada;
}

.jobExplore .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  height: 100%;
  padding: 10px;
}

.jobExplore .jobOpp,
.jobExplore .label {
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.jobExplore .jobOpp.active,
.jobExplore .label.active {
  background-color: #7ba1ff;
  color: white;
}

.jobExplore .jobOpp:hover,
.jobExplore .label:hover {
  background-color: #5f8dff;
  color: white;
}

.jobExplore .tag {
  padding: 4px;
  border-radius: 3px;
  background-color: #d16161;
  margin: 2px;
  color: white;
  display: inline-block;
}

.jobExplore .labelCount {
  padding: 1px 5px;
  border-radius: 50%;
  background-color: #7ba1ff;
  color: white;
  position: absolute;
  right: 5px;
}

.jobExplore .underline {
  text-decoration: underline;
  cursor: pointer;
}

.jobExplore .underline:hover {
  color: #d16161;
}

.jobViewHolder {
  background-color: #efefef;
}

.jobView .title {
  color: #7ba1ff;
  font-size: 28px;
  margin-bottom: 2px;
}

.jobView .labels {
  margin-bottom: 10px;
}

#Popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

#Popup .popBox {
  position: relative;
  width: 70%;
  margin: auto;
  margin-top: 150px;
  background: white;
  border-radius: 4px;
  padding: 20px;
  overflow: none;
}

#Popup .popBox .PopupText h1 {
  color: #d16161;
}

#Popup .popBox button {
  font-size: 20px;
  margin: 5px;
}

.transparentBackground {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.transparentBackground .dropdown {
  position: absolute;
  background-color: #efefef;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 2px #dddddd;
          box-shadow: 0px 0px 3px 2px #dddddd;
  font-size: 20px;
  padding: 5px;
  width: 200px;
  max-height: 400px;
  overflow-y: auto;
}

.transparentBackground .dropdown .title {
  text-align: center;
  font-weight: bold;
  color: #d16161;
  border-bottom: 1px solid #dadada;
}

.transparentBackground .dropdown .labelChoice {
  padding: 5px;
  border-bottom: 0.5px solid #dadada;
  cursor: pointer;
  border-radius: 3px;
}

.transparentBackground .dropdown .labelChoice:hover, .transparentBackground .dropdown .labelChoice.active {
  background-color: #dadada;
}

#InfoPage .container {
  margin-top: 20px;
  color: #7ba1ff;
  font-size: 28px;
}

#InfoPage .text {
  font-size: 20px;
  color: black;
}

#InfoPage .inner {
  margin-top: 40px;
}

#analytics {
  height: calc(100% - 50px);
  font-family: "Roboto";
  font-size: 20px;
  overflow-y: auto;
}

#analytics .topGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

#analytics .middleColumn {
  height: 100%;
  padding: 7px;
}

#analytics .middleColumn .listViewer {
  overflow: auto;
}

#analytics .middleColumn .listViewer:first-child {
  margin-bottom: 7px;
}

#analytics .middleColumn.left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

#analytics .middleColumn.left .listViewer.top {
  max-height: 25%;
}

#analytics .middleColumn.left .listViewer.bottom {
  max-height: 75%;
}

#analytics .middleColumn.right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

#analytics .middleColumn.right .listViewer.top {
  max-height: 35%;
}

#analytics .middleColumn.right .listViewer.bottom {
  max-height: 65%;
}

#analytics select {
  font-size: 18px;
}

#analytics .navigatorText {
  font-size: 18px;
}

#analytics .center {
  text-align: center;
}

#analytics .surveyList.listViewer {
  height: 50%;
  overflow: auto;
  text-align: left;
}

#analytics .generateBox {
  margin: auto;
  width: 50%;
}

#analytics .generateButton {
  font-weight: bold;
  height: 50px;
  width: 100px;
  font-size: 18px;
}

#analytics .chartWait {
  font-style: italic;
}

#analytics .popup {
  color: red;
}

#analytics .popupTitle {
  font-size: 20px;
  font-weight: bold;
}

#analytics .chartContainer {
  min-height: 600px;
  min-width: 900px;
  height: auto;
  width: auto;
  overflow: auto;
  margin: auto;
}

@media screen and (max-width: 600px) {
  #analytics .topGrid {
    display: block;
  }
}
/*# sourceMappingURL=App.css.map */