//CHANGE THIS FILE NOT App.css
//This is because saving and compiling this file will overwrite App.css

$pale-green: #76beba;
$dark-pale-green: #62aaa6;
$rose-red: #be7478;
$dark-rose-red: #a76568;
$gray1: #efefef;
$dark-gray: #dadada;

$headerHeight: 50px;
$contentHeight: calc(100% - 50px);

$small-font-size: 14px;
$normal-font-size: 16px;
$large-font-size: 20px;
$largest-font-size: 28px;

$subtle-shadow: 0px 0px 3px 2px rgb(221, 221, 221);

html,
body,
#root {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

button {
    //this is the default button styling. Override it by adding definition for a specific class in another part of this file
    color: white;
    border: none;
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 3px;
    background-color: $pale-green;
    cursor: pointer;

    &.gray {
        background-color: $gray1;
        color: black;
        &:hover {
            background-color: $dark-gray;
        }
    }

    &.red {
        background-color: $rose-red;
        &:hover {
            background-color: $dark-rose-red;
        }
    }

    &:hover {
        background-color: $dark-pale-green;
    }
}

input,
textarea {
    outline: 0px;
}

.container {
    text-align: center;
    max-width: 800px;
}

// This element can have pretty much anything else in it
.listViewer {
    width: calc(100%);
    background-color: $gray1;
    border-radius: 3px;
    // padding: 5px;
    overflow: hidden;
    box-shadow: $subtle-shadow;
    position: relative;

    .title {
        font-weight: bold;
        color: $rose-red;
        text-align: left;
        font-size: $largest-font-size;
        padding: 3px 8px;
    }
    .addNew {
        position: absolute;
        right: 3px;
        top: 3px;
    }
    .listElements {
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100% - 25px);

        & > * {
            padding: 7px 5px;

            &:nth-child(odd) {
                background-color: white;
            }
        }

        .listElement {
            display: flex;

            .name {
                text-align: left;
                flex: 1;
                padding: 4px;
            }

            button {
                margin-right: 5px;
            }
        }
    }
}

#authPage {
    text-align: center;
    font-size: $largest-font-size;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .title {
        color: $rose-red;
        font-weight: bold;
        padding-top: 10px;
    }

    .error {
        margin: 5px;
        padding: 3px;
        background: $rose-red;
        color: white;
        border-radius: 3px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 7px;
        font-size: $normal-font-size;
        border: none;
        border-bottom: 1px solid black;
        background-color: transparent;
        width: 100%;
        margin-bottom: 10px;
    }

    .content {
        position: relative;
        max-width: 500px;
        height: 500px;
        margin: auto;
        top: calc(50% - 250px);
        background-color: $gray1;
        border-radius: 5px;
        box-shadow: $subtle-shadow;
        padding: 20px;
    }

    button {
        margin-bottom: 20px;
        padding: 7px;
        width: 100%;
        font-size: $normal-font-size;
    }
    img {
        width: 30px;
    }
}

#header {
    background-color: $gray1;
    color: #76beba;
    height: $headerHeight;
    text-align: center;
    display: flex;
    position: relative;

    i {
        //this uses the font-awesome icon library
        height: 100%;
        color: $pale-green;
        border: none;
        padding: 10px 10px;
        font-size: 30px;
        cursor: pointer;

        &:hover {
            background-color: $pale-green;
            color: white;
        }
    }
    .buttonGroup {
        height: 100%;
        // flex: 1;
        flex-shrink: 2;
    }
    .title {
        display: inline-block;
        font-size: 25px;
        padding: 5px;
        flex: 1;
        margin: auto;
        font-weight: 600;
    }
    @media screen and (max-width: 500px) {
        .title {
            font-size: $large-font-size;
        }
    }
}

#adminHome {
    height: $contentHeight;
    font-family: "Roboto";
    padding: 10px;
    font-size: $large-font-size;
    overflow-y: auto;

    .topGrid {
        display: flex;
        flex-wrap: wrap;
    }
    .leftColumn {
        vertical-align: top;
        flex: 1 1 25%;
        padding: 7px;

        .notifContainer {
            height: 100%;
            // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        .notifHeading {
            display: flex;

            .notifNumCircle {
                margin: 8px;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-color: #be7478;
                margin-right: 5px;
                padding: 4px;
            }
            #notifNum {
                font-size: 15px;
                color: #ffffff;
                text-align: center;
                margin: auto;
            }
        }
    }
    .middleColumn {
        flex: 1 1 50%;

        .jobContainer,
        .surveyContainer {
            border-radius: 10px;
            padding: 7px;
        }
    }

    .rightColumn {
        flex: 1 1 25%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .adminButtons {
            flex: 1;
            margin: 7px;

            button {
                display: block;
                width: 100%;
                border-radius: 5px;
                margin-bottom: 10px;
                // font-size: $largest-font-size;
                text-align: center;
            }
        }

        .userInfo {
            background-color: $gray1;
            flex: 1;
            border-radius: 3px;
            line-height: 20px;
            padding: 10px;
            margin: 7px;
            box-shadow: $subtle-shadow;
        }
    }
    @media screen and (max-width: 600px) {
        .topGrid {
            display: block;
        }
        .leftColumn {
            margin: 0;
            .notifContainer {
                height: 350px;
            }
        }
        .jobAndSurveyColumn {
            margin: 0;
        }
    }
}

#home {
    height: $contentHeight;
    text-align: center;

    h1 {
        margin: 0;
        padding: 20px;
        font-size: $largest-font-size;
    }

    #userEmail {
        font-size: 20px;
    }
    #account {
        color: $rose-red;
    }
}

#surveyHome {
    text-align: center;
    height: $contentHeight;
    overflow-y: auto;

    button {
        margin: 5px;
        font-size: $normal-font-size;
    }

    .optionPage {
        padding: 10%;
    }

    .surveyCreator {
        background-color: $dark-gray;
        max-width: 800px;
        margin: auto; //used for centering div
        padding: 10px;

        input[type="text"] {
            font-size: $normal-font-size;
            border-radius: 3px;
            border: 2px solid $gray1;

            &:focus {
                border-bottom: 2px solid $pale-green;
            }
        }

        .surveyHeader {
            border-radius: 5px;
            width: 100%;
            background-color: white;
            // border: 2px solid $pale-green;

            .surveyTitle {
                font-size: $largest-font-size;
                width: 100%;
                padding: 5px;
                border: none;
                background-color: transparent;
            }

            .surveyDescription {
                font-size: $normal-font-size;
                width: 100%;
                padding: 5px;
                border: none;
                resize: none;
            }
        }

        .createdQuestion {
            background-color: white;
            margin-top: 15px;
            border-radius: 5px;
            padding: 5px;
            position: relative;
            text-align: left;

            .header {
                display: flex;
                .prompt {
                    width: calc(100% - 140px);
                }

                .questionType {
                    width: 130px;
                    height: 40px;
                    margin-left: 5px;
                    font-size: $normal-font-size;
                }
            }

            .delete {
                width: 30px;
            }

            .s-options {
                text-align: center;
                padding-bottom: 10px;
            }

            .options {
                width: 100%;
                padding: 3px;

                input[type="text"] {
                    flex: 1;
                    margin-top: 5px;
                }

                .answer {
                    // position: relative;
                    display: flex;
                    width: 100%;
                }
            }
        }

        input[type="radio"] {
            pointer-events: none;
        }
    }

    .administerSurveyPage {
        .survey {
            text-align: center;
            margin: 0px 25px;
            font-size: $normal-font-size;
        }

        .surveyTitle {
            font-weight: bold;
            color: $rose-red;
            text-align: left;
            font-size: 24px;
            padding: 3px 8px;
        }

        .title {
            font-weight: bold;
            text-align: left;
            font-size: 18px;
            margin: 3px;
        }

        .question {
            background-color: $gray1;
            border-radius: 5px;
            margin-bottom: 15px;
            padding: 5px;

            textarea {
                width: calc(100% - 10px);
                margin: 0px 5px;
                resize: none;
                border: none;
                border-radius: 5px;
                font-size: 14px;
            }

            .options {
                padding: 5px;
                font-size: $normal-font-size;
            }

            &.sq {
                padding-bottom: 5px;
            }

            &.mcq {
                text-align: left;
            }
        }
    }

    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        border: 2px solid $pale-green;
        transition: 0.1s all;
        margin-right: 5px;
        position: relative;
        top: 4px;
        border-radius: 2px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            border: 3px solid $pale-green;
            outline: unset !important; /* I added this one for Edge (chromium) support */
        }

        &:checked {
            border: 10px solid $pale-green;
            outline: unset !important; /* I added this one for Edge (chromium) support */
        }
    }
}
#jobManager {
    margin: 0px 25px;
    .jobTitle {
        font-weight: bold;
        color: $rose-red;
        text-align: left;
        font-size: 24px;
        padding: 3px 8px;
        display: inline-block;
    }
    .jobButton {
        margin-top: 8px;
        flex-shrink: 2;
        position: relative;
        left: 70%;
        display: inline;
    }
    .searchBox {
        .searchText {
            display: inline-block;
            position: relative;
            left: 39%;
        }
        .searchBar {
            display: inline;
            position: relative;
            left: 40%;
            input {
                width: 300px;
            }
        }
    }
}
#promoteUser {
    text-align: center;
    padding: 10px;
    font-size: $large-font-size;

    .title {
        font-weight: bold;
        color: $rose-red;
        font-size: $largest-font-size;
        position: relative;
        padding: 50px 0px 10px 0px;
    }

    .textBlock {
        max-width: 500px;
        display: inline-block;
    }

    .inputContainer {
        padding-top: 50px;
        .userEmail {
            padding-bottom: 5px;
        }
        input {
            width: 350px;
            height: 30px;
            background-color: $gray1;
            border: none;
        }
    }
    .buttonContainer {
        margin-top: 40px;

        button {
            display: inline;
            margin-right: 10px;

            &.gray {
                margin-right: 50px;
            }
        }
    }
}
#jobList {
    .jobName {
        display: inline;
    }
    .buttons {
        display: inline;
        position: relative;
        left: 80%;
        button {
            margin-right: 10px;
        }
        .red {
            background-color: $rose-red;
        }
        .red:hover {
            background-color: $dark-rose-red;
        }
    }
}
#jobCreator {
    position: relative;
    left: 5%;
    .jobHeader {
        font-weight: bold;
        color: $rose-red;
        font-size: $largest-font-size;
        position: relative;
        left: 35%;
        padding-top: 20px;
    }
    .title {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .jobInputContainer {
        position: relative;
        margin-top: 40px;
        background-color: $dark-gray;
        width: calc(100% - 140px);
        input[type="text"] {
            font-size: $normal-font-size;
            border-radius: 3px;
            border: 2px solid $gray1;
            width: calc(100%);
            &:focus {
                border-bottom: 2px solid $pale-green;
            }
        }
        textarea {
            width: calc(100%);
            border: 2px solid $gray1;
            resize: none;
            border-radius: 5px;
            font-size: 14px;
        }
    }
    .buttons {
        margin-top: 40px;
        margin-left: 40%;
        .gray {
            margin-right: 100px;
        }
    }
}
